<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch patch:source="Coveo.SearchProvider.config">
      <configuration>
        <indexes>
          <index id="sitecore_analytics_index" type="Sitecore.Cloud.ContentSearch.CloudSearchProviderIndex, Sitecore.Cloud.ContentSearch">
            <patch:attribute name="type" value="Sitecore.Support.Cloud.ContentSearch.CloudSearchProviderIndex, Sitecore.Support.167606"/>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>